
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

a{
    text-decoration: none !important;
}

html{
     scroll-behavior: smooth !important;
}

:root{
    --primary-font:'Oswald';
    --primary-font-weight:500;
    --secondary-font: 'Open Sans', sans-serif;
    --main-color:#99F113;
    --white-color:#FFFFFF;
}




body{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

header{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center center;
   width: 100%;
   position: relative;
}

.navbar ul li a{
    color:var(--white-color) !important;
}
.navbar ul li{
    margin-right: 30px;
}
.navbar ul li a .fas{
    color:var(--main-color);
}

.navbar{
    height: 120px;
}


.navbar-default {
    transition: 500ms ease;
    background: transparent;
    
}
  .navbar-default.scrolled{
    background: #0E0C0DE3;
    height: 80px;
  }

.overlay{
    background-color: #0E0C0DE3;
    background-image: url('model.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 43vw 16vh;
    opacity: 1;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
}

.header-content {
    padding: 130px 0px;
}

.header-content h1 {
    font-size: 90px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--main-color);
}

.header-content span{
    color:var(--white-color);
}


.find-btn a{
    padding: 15px 40px;
    border-radius: 5px;
    background-color:#99F113;
    text-shadow: 0px 1px 7px #65c502;
    color:var(--white-color);
    font-family: var(--primary-font);
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
    z-index: 1;
}







.counter{
      font-size:70px;
      color:var(--main-color);
      font-weight: 700;
  }
  

.counter-box{
   padding: 20px;
  }
  .counter-box p{
      font-size: 22px;
      font-weight: 400;
      font-family: var(--main-color);
  }

  .box-color{
      background-color: #0E0C0D;
      padding: 20px;
  }

  .box-color .col-md-3{
      border-right: 1px solid #FFFFFF;
  }
  .box-color .col-md-3:nth-last-child(1){
      border:none !important ;
  }

  .box-color {
    background-color: #0E0C0D;
    padding: 20px;
    transform: translate(-30px ,-160px);
    border-radius: 50px;
    box-shadow: 0px 16px 46px -13px rgb(0 0 0 / 77%);
}
  
  
.sec-2{
    background-color: #0E0C0D;
    padding: 60px 0px;
}

.about-content h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: var(--primary-font);
  color:var(--main-color);
}

.border-line{
    position: relative;
}

.border-line::before {
    content: '';
    position: absolute;
    border: 1px solid #65c502;
    border-radius: 30px;
    width: calc(100% - 2%);
    height: calc(100% - 17%);
    top: 10%;
    left: 2%;
    z-index: 1;
}

.about-content{
    padding: 20px;
}
.box-img img{
    border-radius: 25px;
}
.about-content p{
    font-family: var(--secondary-font);
}

.about-content h1 span{
    color:var(--white-color);
}

.about-btn a{
    padding: 15px 30px;
    background-color: var(--main-color);
    color:var(--white-color);
    font-family: var(--primary-font);
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 10px;
}

.sec-3{
    padding: 80px 0px;
    background-color: #100E0F;
}

.sec-3-head span{
    color:var(--main-color);
}
.sec-3-head h1{
    font-size: 50px;
    font-weight: 400;
    font-family: var(--primary-font);
}

.sec-3-box img {
    margin-top: -110px;
    border-radius: 30px;
}
.sec-3-content h4{
    color:var(--main-color);
    font-size: 28px;
    font-weight: 400;
    font-family: var(--primary-font);
}

.sec-3-box{
    padding: 25px;
    background-color: #0E0C0D;
    border-radius: 0px 0px 20px 20px;  
}

.sec-3-box img:hover{
    border:2px solid #65c502;
  
}

.find-more a{
   padding: 15px 30px;
   background-color: var(--main-color);
   color:var(--white-color);
   font-family: var(--primary-font);
   font-weight: 400;
   border-radius:10px;
} 

.sec-4{
    padding: 80px 0px;
    position: relative;
    background-color: #000000d1;
}

.sec-4-content h5{
    color:var(--main-color);
    font-size:28px;
    font-weight: 600;
    font-family: var(--primary-font);
}
.sec-4-content{
    border-bottom: 2px solid #65c502;
}

.strat-img{
    position: relative;
}

.start-img_second img {
    position: absolute;
    border-radius: 50%;
    top: 28px;
    left: 13%;
    border:2px solid #65c502;
}



.sec-4-overlay{

    background-image: url('bgwhy.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    opacity: 0.77;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.sec-4-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0%;
    left: 0%;
}

.sec-4-head h1 span{
    color:var(--main-color);
}
.sec-4-head h1{
    color:var(--white-color);
    font-weight: 600;
   font-size: 50px;
   font-family: var(--primary-font);
}

.sec-5{
    padding: 80px 0px;
    background-color:#0E0C0D ;
}

.sec-5 .sec-5-head h1{
    font-size: 50px;
    font-weight: 700;
    font-family: var(--primary-font);
    color:var(--white-color);
}
.sec-5-head span{
    color:var(--main-color);
}

.sec-5-content h5{
    color:var(--white-color);
    font-weight: 600;
    font-family: var(--primary-font);
    font-size: 25px;
    position: relative;
}
.sec-5-content h5 span::before {
    content: '';
    position: absolute;
    width: 66px;
    left: 0%;
    border-bottom: 2px solid #65c502;
    bottom: -44%;
}

.sec-5-content ul li span{
    color:var(--main-color);
    margin-right: 10px;
}

.sec-5-content .sec-5-price p span{
     font-size: 70px;
     color:var(--main-color);
     font-weight: 600;
}
.sec-5-content .sec-5-get a{
     padding: 10px 30px;
     background-color: var(--main-color);
     color:var(--white-color);
     border-radius: 10px;
     position: relative;
}

.sec-5-content{
   background-color: #000000;
   border-radius: 20px;
   padding: 20px;
}

.sec-5-content:hover {
    background:var(--main-color);
}
.sec-5-content:hover h5 span{
   color:#000000;
}

.sec-5-content:hover h5 span::before{
    border-bottom: 2px solid #000000;
 }

 .sec-5-content:hover p{
     color:#000000;
 }
 .sec-5-content:hover ul li{
     color:#000000;
 }
 .sec-5-content:hover ul li span{
     color:var(--white-color);
 }
 .sec-5-content:hover .sec-5-price span{
     color:#000000;
 }
 .sec-5-content:hover .sec-5-get a{
    background-color: #000000;
    color:var(--white-color);
 }
 .sec-5-content:hover{
     border:1px solid var(--white-color);
 }

 .sec-5-content p{
     font-size: 20px;
 }
 .sec-6 {
    padding: 80px 0px;
    position: relative;
    background-color: #000000eb;
}

 .sec-6-overlay{
     background-image: url('bg\ \(1\).jpg');
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: -1;
 }
 .sec-6-overlay{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
 }

 .map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .contact-us h1 span{
        color:var(--main-color);
    }
    .contact-us h1{
        color:var(--white-color);
        font-size: 50px;
        font-weight: 600;
        font-family: var(--primary-font);
    }

    .contact-us ul li+li{
        margin-top: 10px;
    }

    .contact-us ul li:hover .fas{
        color:var(--white-color);
        transition: .3s ease-in-out;
    }
    .contact-us ul li  .fab:hover{
        color:var(--white-color);
        transition: .3s ease-in-out;
    }
    .contact-us {
        z-index: 1;
    }

    .contact-us ul li .fas{
        color:var(--main-color);
    }
    .contact-us ul li .fab{
        color:var(--main-color);
    }

    .contact-line{
        position: relative;
    }
    .contact-line::before {
        content: '';
        position: absolute;
        border: 1px solid #65c502;
        width: calc(100% + 5%);
        height: calc(100% - 20%);
        top: 12%;
        left: 0;
        z-index: 1;
        border-radius: 30px;
    }

    .sec-7{
        padding:20px 0px;
        background-color:var(--main-color);
    }
    .map-container-5 {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
        z-index: 1;
    }


    /*  about css start   */


    .overlay-about{
        background-color: #0E0C0DE3;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        position: absolute;
    }


    .about-box-img{
        position: relative;
    }
    .box-img.about-box-img::before {
        content: '';
        position: absolute;
        width: calc(100% - 10%);
        height: calc(100% - 10%);
        border: 1px solid var(--main-color);
        border-radius: 30px;
        top: 4%;
        left: 4%;
    }

  
    .about-border-line .col-md-3{
        border-right: 1px solid #FFFFFF;
    }
    .about-border-line .col-md-3:nth-last-child(1){
        border:none !important ;
    }

    .about-border-line {
        padding: 20px;
        background-color: #000000;
        border-radius: 30px;
    }

    .about-sec-video{
        padding:80px 0px;
    }

  

    .about-sec-video-content h4{
          color:var(--main-color);
          font-size: 28px;
          font-weight: 600;
    }
    .about-sec-video-content .fas{
        color:var(--main-color);
        margin-right: 10px;
    }

    .about-sec-video{
        background-color: #0E0C0D;
    }
    .progress {
        height: 50px;
        background-color: #100E0F;
    }

    .progress-bar {
        background: var(--main-color);
    }

    .our-sec{
        padding:80px 0px;
        background-color: #000000;
    }
    .our-team h1{
        font-size: 50px;
        font-weight: 600;
        font-family: var(--primary-font);
        color:var(--white-color);
    }

    .our-team span{
        color:var(--main-color);
    }
    .our-content .fab{
        color:var(--main-color);
    }
    .our-content h5{
        color:var(--main-color);
    }
    .our-team-box img{
        border-radius: 30px 30px 0px 0px;
       
    }
    .our-team-box{
        background-color:#0E0C0D;
    }
    .our-content{
        padding:20px 0px
    }

    .our-img{
        position: relative;
        display: block;
        height: auto;
    }

   
  .our-overlay{
      background-color: #65c50224;
      width: 100%;
      height:100%;
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom:0;
      border-radius: 30px 30px 0px 0px;
      opacity: 0;

  }

  .our-img:hover .our-overlay{
      opacity: 1;
  }

  .contact-form{
      padding: 100px 0px;
      background-color: #0E0C0D;
  }

  .get-touch  span{
      color:var(--main-color);
  }

  .submit-btn a{
     padding: 10px 30px;
     background-color:#000000;
     color:var(--white-color);
     border-radius: 10px;
  }

  .form-content{
      padding: 25px;
      background-color:var(--main-color);
      border-radius: 30px;
  }
  .form-content .form-control{
      background-color: #FFFFFF;
  }
  .form-content input{
       box-shadow: none !important;
       border-radius: 0px;
       border:none;
  }

  .form-content textarea{
      box-shadow: none !important;
  }
  .form-content label{
      font-size: 20px;
      font-weight: 400;
      font-family: var(--primary-font);
  }

  .contact-address ul li{
      margin-top: 10px;
  }